@import url('https://fonts.googleapis.com/css2?family=');
:root{
  --primary-color: #2bcbba;
  --light-color: #d1d8e0;
  --grey-color: #687080;
  --red-color: #ff4757;
  --flashwhite-color: #f1f2f6;
  --white-color: #ffffff;
  --dark-color: #212121;

  --primary-font: 'Monsterrat', sans-serif;
  --second-font: 'Monsterrat', sans-serif;
  --fs14: 14px;
  --fw600: 600;

  --transition-color: color .3s;
  --transition-background: background-color .3s;
  --transition-color: color .3s;
  --transition-color: color .3s;
  --transition-color: color .3s;

}